<div class="columns is-multiline is-centered">
    <div class="column is-2 label-form dark-text">
        <strong>Email:</strong>
    </div>
    <div class="column is-9">
        <user-input type="text" :model.sync="emailSync" :validatorField="$v.email"></user-input>
        <p class="help is-danger"
            v-if="$v.email.$invalid && $v.email.$dirty && !$v.email.required">
            This field
            is
            required</p>
        <p class="help is-danger"
            v-if="$v.email.$invalid && $v.email.$dirty && $v.email.required && !$v.email.email">
            This field must be an email</p>
    </div>
</div>