<div class="columns is-multiline">
    <div class="column is-10 is-offset-1">
        <div class="columns">
            <div class="column is-3 label-form dark-text">
                <strong>Product name:</strong>
            </div>
            <div class="column is-8">
                <user-input type="text" :model.sync="syncApi.productName" :validatorField="$v.api.productName"></user-input>
                <p class="help is-danger" v-if="$v.api.productName.$invalid && $v.api.productName.$dirty">This field is
                    required</p>
            </div>
        </div>
    </div>
    <div class="column is-10 is-offset-1">
        <div class="columns">
            <div class="column is-3 label-form dark-text">
                <strong>Organization name:</strong>
            </div>
            <div class="column is-8">
                <user-input type="text" :model.sync="api.organization" :validatorField="$v.api.organization"></user-input>
                <p class="help is-danger" v-if="$v.api.organization.$invalid && $v.api.organization.$dirty">This field
                    is
                    required</p>
            </div>
        </div>
    </div>
    <div class="column is-10 is-offset-1">
        <div class="columns">
            <div class="column is-3 label-form dark-text">
                <strong>Host:</strong>
            </div>
            <div class="column is-8">
                <user-input type="text" :model.sync="api.host" :validatorField="$v.api.host"></user-input>
                <p class="help is-danger" v-if="$v.api.host.$invalid && $v.api.host.$dirty && !$v.api.host.required">This field
                    is
                    required</p>
                <p class="help is-danger" v-if="$v.api.host.$invalid && $v.api.host.$dirty && $v.api.host.required && !$v.api.host.url">This field
                        has to be an url</p>
            </div>
        </div>
    </div>
    <div class="column is-10 is-offset-1">
        <div class="columns">
            <div class="column is-3 label-form dark-text">
                <strong>require MTLS:</strong>
            </div>
            <div class="column is-8">
                <check-box :model.sync="syncApi.requireMtls"></check-box>
            </div>
        </div>
    </div>
    <div class="column is-10 is-offset-1">
        <div class="columns">
            <div class="column is-3 label-form dark-text">
                <strong>Swagger:</strong>
            </div>
            <div class="column is-8">
                <b-field class="file">
                    <b-upload v-model="api.swagger" expanded>
                        <a class="button is-primary is-fullwidth"
                            :class="{'is-danger': $v.api.swagger.$invalid && $v.api.swagger.$dirty}"
                            @click="$v.api.swagger.$touch">
                            <b-icon icon="api.swagger"></b-icon>
                            <span>{{ getFileName(api.swagger) }}</span>
                        </a>
                    </b-upload>
                </b-field>
                <p class="help is-danger"
                    v-if="$v.api.swagger.$invalid && $v.api.swagger.$dirty && !$v.api.swagger.required">This field is
                    required</p>
                <p class="help is-danger"
                    v-if="$v.api.swagger.$invalid && $v.api.swagger.$dirty && !$v.api.swagger.fileFormat && $v.api.swagger.required">This format is
                    not supported (please use json, yaml format)</p>
            </div>
        </div>
    </div>
</div>