<div class="columns is-multiline is-centered">
    <div class="column is-2 label-form dark-text">
        <strong>New password:</strong>
    </div>
    <div class="column is-9">
        <user-input type="password" :model.sync="resetPasswordSync.password" :validatorField="$v.resetPassword.password"></user-input>
        <p class="help is-danger"
            v-if="$v.resetPassword.password.$invalid && $v.resetPassword.password.$dirty && !$v.resetPassword.password.required">
            This field
            is
            required</p>
        <p class="help is-danger"
            v-if="$v.resetPassword.password.$invalid && $v.resetPassword.password.$dirty && !$v.resetPassword.password.valid && $v.resetPassword.password.required">
            A password should contains uppercase, special characters and numbers</p>
        <p class="help is-danger"
            v-if="$v.resetPassword.password.$invalid && $v.resetPassword.password.$dirty && !$v.resetPassword.password.minLength && $v.resetPassword.password.required">
            A password must be minimum 10 characters</p>
    </div>
    <div class="column is-2 label-form dark-text">
        <strong>Repeat password:</strong>
    </div>
    <div class="column is-9">
        <user-input type="password" :model.sync="resetPassword.repeatPassword" :validatorField="$v.resetPassword.repeatPassword"></user-input>
        <p class="help is-danger" v-if="$v.resetPassword.repeatPassword.$invalid && $v.resetPassword.repeatPassword.$dirty && $v.resetPassword.repeatPassword.$invalid">
            The different passwords are differents</p>
    </div>
</div>