<div>
  <div class="label-container">
    <label for="search">{{ label }}</label>
    <a
      href="#"
      v-if="modelSync.length"
      @click="clearFilters()"
      class="clearFilter"
      >Clear filters</a
    >
  </div>
    <div class="tags-group">
      <b-field class="badges-container">
        <badge v-for="tag in modelSync" :key="tag.id" @update:badge="removeFilter(tag)"> {{ tag }} </badge>
      </b-field>
    </div>
    <b-dropdown v-model="modelSync" :multiple="isMultiple" aria-role="list" class="lh-dropdown">
      <template #trigger>
        <b-button
          icon-pack="fas"
          icon-left="search"
          type="is-primary"
          icon-right="chevron-down"
          class="dropdown-button"
        >
          <p class="btn-text"></p>
        </b-button>
      </template>
      <b-dropdown-item custom aria-role="listitem">
        <b-input v-model="searchTerm" placeholder="search" expanded />
      </b-dropdown-item>
      <b-dropdown-item
        :value="filter.value"
        aria-role="listitem"
        v-for="(filter, index) in filteredData()"
        :key="index"
      >
        <span>{{filter.text}}</span>
      </b-dropdown-item>
    </b-dropdown>
  </div>
</div>
