<div>
  <div class="label-container">
    <label for="search">{{ label }}</label>
    <a href="#" v-if="selectedFilter.length" @click="clearFilters()" class="clearFilter">Clear filters</a>
  </div>
  <div class="tags-group">
    <b-field class="tags-container">
      <b-tag attached closable aria-close-label="Remove" @close="removeSelectedTag(tag)" v-for="tag in selectedFilter"
        :key="tag.id">
        {{ tag.name }}
      </b-tag>
    </b-field>
  </div>
  <div class="input-search-container-outside" @click="focus=true;">
    <div class="input-search-container">
      <i class="fas fa-search"></i>
      <input type="text" id="search" :placeholder="placeholder" @input="searchKey($event.target.value)"
        autocomplete="off">
      <i class="fas fa-caret-down"></i>
    </div>
    <ul v-if="filterListComponent.length" class="filterList card" :class="{'show' : focus}">
      <li v-for="ele in filterListComponent" :key="ele.id" @click="addFilterTag(ele)"><span
          class="filterItem">{{ ele.name }}</span></li>
    </ul>

  </div>
</div>