@import "Styles/abstracts/colors.scss";

.button.is-link{
    background-color: $secondary !important;
}

.button.is-primary{
    background-color: $primary !important;
    color: white !important;
}
.button.is-danger {
    background: $error-color !important;
    border-color: $error-color !important;
}