@import "Styles/colors.scss";
@import "Styles/text.scss";

.card {
  .card-content {
    .media {
      .media-left {
        margin-right: 10px;
      }

      .title {
        font-size: $font-size-title-card;
      }
    }

    .content::v-deep {
      font-size: $font-size-text-card;
      line-height: 16px;

      h1,
      h2,
      h3,
      h4 {
        font-size: $font-size-h1-card;
      }

      p {
        margin-bottom: 20px;
      }
    }

    .tags {
      margin-bottom: 20px;

      .tag {
        margin-bottom: 10px;
      }
    }

    .card-footer {
      font-size: $font-size-text-footer-card;
    }
  }
}
