@import "Styles/abstracts/colors.scss";

.select {
  select {
    &:focus {
      border-color: $primary !important;
    }

    &:active {
      border-color: $primary !important;
    }
  }

  select.is-focused {
    border-color: $primary !important;
  }

  select.is-active {
    border-color: $primary !important;
  }
}

.taginput {
  .taginput-container.is-focusable {
    &:focus {
      border-color: $primary !important;
    }

    &:active {
      border-color: $primary !important;
    }
  }

  .is-focused.taginput-container.is-focusable {
    border-color: $primary !important;
  }

  .is-active.taginput-container.is-focusable {
    border-color: $primary !important;
  }
}

.textarea {
  &:focus {
    border-color: $primary !important;
  }

  &:active {
    border-color: $primary !important;
  }
}

.input {
  &:focus {
    border-color: $primary !important;
  }

  &:active {
    border-color: $primary !important;
  }
}

.is-focused.textarea {
  border-color: $primary !important;
}

.is-focused.input {
  border-color: $primary !important;
}

.is-active.textarea {
  border-color: $primary !important;
}

.is-active.input {
  border-color: $primary !important;
}

.input {
  border-radius: 10px;
  border: 1px solid $base-color !important;
}
.file.is-info .file-cta {
  background-color: $accent !important;
}
.file-cta,
.file-name {
  border-radius: 10px !important;
  border-color: $base-color !important;
}

.file-label {
  width: 100%;
}

.file-name {
  width: 100%;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  max-width: none !important;
}

.file-cta {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.is-danger.input {
  border-color: $error-color !important;
}

.file.is-danger {
  .file-cta {
    background: $error-color !important;
    border-color: $error-color !important;
  }
  .file-name {
    border-color: $error-color !important;
  }
}
.file {
  margin-bottom: 0px !important;
}

.select {
  width: 100%;

  select {
    background-color: $accent !important;
    color: white !important;
    width: 100%;

    option {
      background-color: white !important;
    }
  }

  &::after {
    border-color: white !important;
  }
}

.label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    font-weight: bold;
  }
}
