@import "bulma-o-steps/bulma-steps.sass";
@import "Styles/abstracts/colors.scss";
@import "Styles/input.scss";
@import "Styles/buttons.scss";
@import "Styles/dropdown.scss";
@import "Styles/hero.scss";

@import './abstracts/mixins.scss';

@import './extensions/all.scss';

@import './abstracts/typography.scss';
@import './abstracts/animations.scss';
@import './abstracts/transitions.scss';
@import './abstracts/helpers.scss';

@import './layout/_layout.scss';
@import './layout/_utilities.scss';

@import './elements/_buttons.scss';
@import './elements/_blocks.scss';
@import './elements/_cards.scss';
@import './elements/_content.scss';
@import './elements/_forms-general.scss';
@import './elements/_forms-combos.scss';
@import './elements/_forms-checkboxes.scss';
@import './elements/_forms-slider.scss';
@import './elements/_forms-multiselect.scss';
@import './elements/_icons.scss';
@import './elements/_links.scss';
@import './elements/_lists.scss';
@import './elements/_tags.scss';

@import './components/_nprogress.scss';
@import './components/_accordion.scss';
@import './components/_breadcrumbs.scss';
@import './components/_datepicker.scss';
@import './components/_dropdowns.scss';
@import './components/_editors.scss';
@import './components/_modals.scss';
@import './components/_message.scss';
@import './components/_media.scss';
@import './components/_charts.scss';
@import './components/_loader.scss';
@import './components/_toggles.scss';
@import './components/_video-player.scss';
@import './components/_placeholders.scss';
@import './components/_placeload.scss';
@import './components/_popovers.scss';
@import './components/_progress.scss';
@import './components/_theme-switch.scss';
@import './components/_avatar.scss';
@import './components/_snacks.scss';
@import './components/_switch-segment.scss';
@import './components/_tabs.scss';
@import './components/_table.scss';
@import './components/_datatable.scss';
@import './components/_toasts.scss';
@import './components/_toolbar.scss';
@import './components/_tooltips.scss';
@import './components/_circle-chart.scss';
@import './components/_ckeditor.scss';
@import './components/_credit-card.scss';


.container{
  padding-top: 5%;
}
.box {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 10px;
  border: 1px solid $base-color;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0rem !important;

  hr {
    background-color: $base-color;
    height: 1px;
    margin-bottom: 1%;
  }
}

.label-form {
  margin-top: auto;
  margin-bottom: auto;
}

body {
  background: $light-color !important;
  min-height: 100vh;
}

.page-content {
  min-height: 89vh;
}
.badges-container {
  display: flex;
  flex-wrap: wrap;

  .tags {
    margin-top: 5px !important;
    margin-bottom: 2px !important;
    margin-right: 5px !important;
  }
}
