form {
    position: relative;

    button {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        background-color: transparent;
        border: 0;
        cursor: pointer;
        font-size: 18px;
    }

    input {
        padding-left: 38px;
    }
}