<div>
    <div class="field is-grouped is-grouped-multiline" v-if="tags.length">
        <div class="control" v-for="tag in tags">
            <div class="tags has-addons">
                <span class="tag">{{ tag }}</span>
                <a class="tag is-delete" @click.prevent="deleteTag(tag)"></a>
            </div>
        </div>
    </div>
    <form @submit.prevent="searchData()">
        <input class="input" type="text" v-model="searchInput" :placeholder="placeholder" />
        <button><i class="fas fa-search"></i></button>
    </form>
</div>