<div>
  <nav class="navbar pr-10 pl-10" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <g-link class="nav__link navbar-item" to="/">
        <logo />
      </g-link>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-item">
      <g-link class="nav__link navbar-item" to="/">Home</g-link>
    </div>
    <div class="navbar-item">
      <g-link class="nav__link navbar-item" to="/api-register/" v-if="returnIsAuth">Register an API</g-link>
    </div>
    <div class="navbar-item">
      <g-link class="nav__link navbar-item" to="/api-products/">Api Products</g-link>
    </div>
    <div class="navbar-item">
      <g-link class="nav__link navbar-item" to="/support/">Support</g-link>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item" v-if="!returnIsAuth">
          <g-link class="nav__link navbar-item sign-up-item" to="/register/">Sign up <img alt="register image"
              src="~Assets/img/molecular.svg" /></g-link>
        </div>
        <div class="navbar-item" v-if="!returnIsAuth">
          <g-link class="navbar-item" to="/login/">Log In</g-link>
        </div>

        <div class="navbar-item">
          <g-link class="nav__link navbar-item" to="/api-register/" v-if="returnIsAuth">Register an API</g-link>
        </div>
        <div class="navbar-item" v-if="returnIsAuth">
          <b-button @click="signOut()">Logout</b-button>
        </div>
      </div>
    </div>
  </nav>
</div>