<div class="api-card card">
  <div class="api-card-content card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img :src="api.logo" alt="Api Logo">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4 is-spaced">{{ api.title }}</p>
        <p class="subtitle is-6"><strong>Version: </strong>{{ api.version }}</p>
        <p class="subtitle is-6"><strong>Status: </strong>{{ api.status }}</p>
        <time datetime="api.publish_date"><strong>Publish:
          </strong>{{ api.publish_date.getDate() + "-" + api.publish_date.getMonth() + "-" + api.publish_date.getFullYear()  }}</time>
      </div>
    </div>

    <div class="content">
      <div>
        {{ api.description }}
      </div>
    </div>
  </div>
</div>