@import "Styles/colors.scss";
@import "Styles/card.scss";

.card {
  @extend .card;
  display: flex;

  .card-content {
    .media {
      .image {
        width: 35px;
        height: 35px;
        img {
          border-radius: 50%;
        }
      }
    }

    .tags {
      margin-bottom: 20px;

      .tag {
        margin-bottom: 10px;
      }
    }

    .card-footer {
      .environments {
        font-weight: bold;
        color: $secondary-color;
        span {
          display: inline-block;

          &:not(:last-of-type) {
            margin-right: 10px;
          }

          &.prd {
            color: $complementary-color;
          }
        }
      }
    }
  }

  .tagItem {
    padding: 10px;
    background-color: $secondary-color;
  }
}
